*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
}
    
header{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:40px 20px;
}

header h1{
    font-size:40px;
}

header p{
    margin-top:10px;
    color:#d1d5db;
}

nav{
    background:#374151;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    padding:15px 20px;
    transition:.3s;
}

nav a:hover{
    background:#2563eb;
}

.container{
    width:90%;
    max-width:1000px;
    margin:30px auto;
}

.card{
    background:white;
    padding:25px;
    margin-bottom:20px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,.1);
}

.card h2{
    color:#2563eb;
    margin-bottom:15px;
}

.profile{
    width:170px;
    height:170px;
    border-radius:50%;
    object-fit:cover;
    display:block;
    margin:0 auto 20px;
    border:5px solid #2563eb;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.skills span{
    background:#2563eb;
    color:white;
    padding:8px 15px;
    border-radius:20px;
}

ul{
    margin-left:20px;
}

li{
    margin-bottom:10px;
}

footer{
    text-align:center;
    background:#1f2937;
    color:white;
    padding:20px;
    margin-top:30px;
}

@media(max-width:768px){

header h1{
    font-size:30px;
}

nav{
    flex-direction:column;
}

nav a{
    text-align:center;
}

.profile{
    width:140px;
    height:140px;
}

}